* {
  box-sizing: border-box;
}

.App {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  max-height: 100vh;
  flex-wrap: wrap;
  background-color: #FEFFF6;
  gap: 0.5em;
}

.header {
  display: flex;
  min-width: 24em;
}